<html class="">
<head>
</head>
<body>
<div class="bg-gray-200 content-evenly flex flex-wrap h-screen w-max">
    <div class= "bg-white p-10 w-1/10">
        <img src="https://placekitten.com/200/250" />
        <h1>SDL Developer</h1>
        <p>Primary Phone: N/A <br>
        Email: upcycle@upcycle.com <br>
        Address: N/A
        </p>
    </div>
    <div class="p-20 w-1/2">

    <table class="border-blue-900 border-8 bg-white m-0">
        <tr>
            <th colspan="6">Econmic Event</th>
        </tr>
        <tr>
            <td class="p-5"> > </td>
            <td> <img src="https://placekitten.com/50/50"> </td>
            <td> Neural Network <br> 2021-7-11 <br> 0 US Dollars </td>
            <td> > </td>
            <td> <img src="https://placekitten.com/60/50"> </td>
            <td> Franklin High School</td>


        </tr>
          <tr>
            <td class="p-5"> > </td>
            <td> <img src="https://placekitten.com/70/50"> </td>
            <td> Chair <br> 2021-7-11 <br> 0 US Dollars </td>
            <td> > </td>
            <td> <img src="https://placekitten.com/60/50"> </td>
            <td> MSOE</td>


        </tr>
    </table>
    </div>
    <div class="m-0 w-1/10">
    <table class="border-blue-900 border-8">
    <tr> <th> Organizations </th> </tr>
    <tr> <td class="bg-white"> Franklin High School </td> </tr>
    <tr> <td class="bg-white" > MSOE</td> </tr>
    <tr> <td class="bg-white" > Marquette </td> </tr>
    <tr> <td class="bg-white" > Test 1 </td> </tr>

    </table>
    </div>
</div>
</body>
</html>
