<html class="">
<head>
</head>
<body>
<div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <h1 class="text-2xl text-blue-500 mb-3">Log-in to Makerspace</h1>
    <div class="">
    <form>
        <label for="username" >Username:</label><br>
        <input type="text" id="username" name="username" class="rounded w-full" placeholder="Username"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" class="rounded" placeholder="Password"><br>
        <button type="submit" class="bg-blue-100 w-full mt-4 text-center">Login</button>
        <button type="submit" class="bg-blue-100 w-full mt-4 text-center">Register</button>
    </form>
    </div>
</div>
</body>
</html>
